#submit_button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:red;
    color:white;
    height:10%;
    width:100%;
    font-size:20px;
    border-radius:50px;
    font-weight:bold;
}

#sort_button{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:green;
    color:white;
    height:10%;
    width:100%;
    font-size:20px;
    border-radius:50px;
    font-weight:bold;
}

input{
    margin: 10px;
    background-color:black;
    color:white;
    border-radius:100px;
}

body{
    background:linear-gradient(mediumseagreen,seagreen,skyblue);
}

